<div class="row content m-5">
  <div class="col-6">
    <form class="auth-form login-form">
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="brand">Marka</label>
            <select
              id="brand"
              name="brand"
              class="form-select"
              placeholder="brand"
              required="required"
            >
              <option *ngFor="let brand of brands" [value]="brand.id">
                {{ brand.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="brand">Seri</label>
            <input
              id="name"
              name="name"
              type="text"
              class="form-control"
              placeholder="Serisi"
              required="required"
            />
            <!-- <select
              id="brand"
              name="brand"
              class="form-select"
              placeholder="brand"
              required="required"
            >
              <option *ngFor="let brand of brands" [value]="brand.id">
                {{ brand.name }}
              </option>
            </select> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="brand">Model Yılı</label>
            <select
              id="modelYear"
              name="modelYear"
              class="form-select"
              placeholder="brand"
              required="required"
            >
              <option *ngFor="let modelYear of modelYears" [value]="modelYear">
                {{ modelYear }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="brand">Renk</label>
            <select
              id="brand"
              name="brand"
              class="form-select"
              placeholder="brand"
              required="required"
            >
              <option *ngFor="let color of colors" [value]="color.id">
                {{ color.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="brand">Sınıfı</label>
            <select
              id="brand"
              name="brand"
              class="form-select"
              placeholder="brand"
              required="required"
            >
              <option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="brand">Resim Yükle</label>
            <input
              formControlName="file"
              id="file"
              type="file"
              multiple
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description">Açıklama</label>
        <input
          id="description"
          name="description"
          type="text"
          class="form-control"
          placeholder="Açıklama"
          required="required"
        />
      </div>
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6 mt-3">
          <div class="text-center">
            <button
              type="submit"
              class="btn app-btn-primary btn-block theme-btn mx-auto"
            >
              Kaydet
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-6"></div>
</div>
